.footer {
  margin-top: 50px;
  display: flex;
  //grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  flex-wrap: wrap;
  //align-content: end;
}
.footer ul {
  list-style-type: none;
}

.one {
  margin-top: 18px;
  //   width: 25%;
  gap: 20px;
}
.one ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-evenly;
}
.coral {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: AmstelvarAlpha;
  font-size: 30px;
}
.socialicon {
  display: flex;
  gap: 50px;
}
.two ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.three {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  //    align-items: flex-end;
}

.three ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.four ul {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.foot {
  width: 350px;
  flex-wrap: wrap;
}
.bottom_bar {
  display: flex;
  justify-content: space-around;
  background-color: rgb(4, 12, 19);
  color: aliceblue;
  margin-top: 70px;
  padding-top: 0px;
}
.top {
  width: 130px;
  text-align: center;
  background: none;
  border: none;
  color: aliceblue;
}
