/* .container {
} */
.colour {
  background-color: rgba(230, 246, 161, 0.792);
  height: 847px;
}

.body {
  padding: 0 160px;
}
.second {
  margin: 90px 0 0 0;
}
.Whole_body {
  /* padding: 0 160px;  */
}
